include tweetbtns.pug
mixin Tweet(time, image, name, user, text, retweets, likes)
  li
    strong.app--tweet--timestamp #{time}
    a.app--tweet--author
      .app--avatar(style=`background-image: url(${image})`)
        img(src=image)
      h4 #{name}
      span  #{user}
    p #{text}
    +Tweetbutton(retweets, likes)
